@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

main{
    height: 3000px;
}

body{

}

.Logo1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Logo1 img{
    width: 300px;
    cursor: pointer;
}

.site-header {
    background-color: #2a2b2d !important;
    z-index: 8;
    width: 100%;
    display: flex;
    gap: 3rem;
    font-weight: 300;
    justify-content: center;
    align-items: center;
}

.site-logo{
    height: 80px;
    width: 80px;
    display: flex;
}

.brlogo{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}

.site-conteudo{
    width: 600px;
    display: flex;
    justify-content: space-around;
}

.site-conteudo li{
    font-size: 15px;
    display: flex;
    padding-left: 15px;

}

.site-boton{
    width: 230px;
    display: flex;
    justify-content: space-around;
}

.site-header .site-boton{
    padding-left: 15px;
    display: flex;
}

header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
}

.cabeçalho-link{
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;
}

.site-header a{
    color: #fff;
    font-size: 15px;

}

.site-header a:hover{
    color: #6ad0ff;
    transition: 0.3s all;
}

.site-content{
    height: 2000px;
}

.barra1{
    height: 70px;
    background-color: #7289da;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay{
    height: 600px;
    color: #fff;
    background-image: url(img/back2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.button1{
    color: #ffffff;
    background: #086abb;
    border: transparent;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    width: 80px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s all;
}

.button1:hover{
    color: #ffffff;
    background: #075ca1;
    border: transparent;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    transition: 0.3s all;
}

.button2{
    color: #ffffff;
    background: #5a5a5a;
    border: transparent;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s all;
}

.button2:hover{
    color: #ffffff;
    background: #525252;
    border: transparent;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    transition: 0.3s all;
}

.container-text{
    padding: 150px 0 0 130px;
    background-image: url(img/background.jpg);
}

.text h3{
    color: #fff;
    font-size: 50px;
}

.text h1{
    color: #fff;
    margin-top: 10px;
}

.text span{
    color: #6ad0ff;
}

.text p{
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    margin-top: 10px;
}

.redes-sociais a{
    color: #6ad0ff;
    padding: 10px;
    margin-top: 5px;
    font-size: 25px;
    text-shadow: 5px 2px 5px #000000;
}

.btn{
    margin-top: 10px;
}

.insta :hover{
    color: #C13584;
    transition: 1s;
    font-size: 1.7rem;
}

.tt :hover{
    color: #1DA1F2;
    transition: 1s;
    font-size: 1.7rem;
}

.tw :hover{
    color: #6441a5 ;
    transition: 1s;
    font-size: 1.7rem;
}

.lk :hover{
    color: #0e76a8;
    transition: 1s;
    font-size: 1.7rem;
}

.git :hover{
    color: #e8eaea;
    transition: 1s;
    font-size: 1.7rem;
}