@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body{
    overflow: hidden;
}

.background{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}

.cabeçalho-link{
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;
}

.cabeçalho-link a{
    color: #fff;
    font-size: 12px;

}

.cabeçalho-link a:hover{
    color: #6ad0ff;
    transition: 0.3s all;
}

.logo{
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid #6ad0ff;
    color: #6ad0ff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
}

button{
    color: #6ad0ff;
    background: transparent;
    border: solid 1px #6ad0ff;
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
    width: 150px;
    cursor: pointer;
}

button:hover{
    background-color: #6ad0ff;
    color: #fff;
    transition: 0.5s;

}

.container-text{
    padding: 150px 0 0 130px;
}

.text h3{
    color: #fff;
    font-size: 50px;
}

.text h1{
    color: #fff;
    margin-top: 10px;
}

.text span{
    color: #6ad0ff;
}

.text p{
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    margin-top: 10px;
}

.redes-sociais a{
    color: #6ad0ff;
    padding: 10px;
    margin-top: 5px;
}

.btn{
    margin-top: 10px;
}